<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hospitalapps">

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Hospitalapps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Queue activity -->
        <activity
            android:name=".AntrianActivity"
            android:label="Cek Antrian"
            android:parentActivityName=".MainActivity" />

        <!-- Treatment history -->
        <activity
            android:name=".PerawatanActivity"
            android:label="Riwayat Perawatan"

            android:parentActivityName=".MainActivity" />

        <!-- schedule page -->
        <activity
            android:name=".ScheduleActivity"
            android:label="Jadwal Dokter"
            android:parentActivityName=".MainActivity" />

        <!-- confirmation page (optional if used) -->
        <activity
            android:name=".ConfirmationActivity"
            android:label="Konfirmasi Janji"
            android:parentActivityName=".ScheduleActivity" />

        <activity android:name=".DoctorListActivity" />


            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <!-- ✅ Halaman Profil Pengguna -->
        <activity
            android:name=".UserActivity"
            android:label="Profil Pengguna"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

    </application>
</manifest>
